# Ignorer le dossier test
test/


# Ignorer les fichiers compilés (exécutables)
a.out
*.o
*.out
*.exe

# Ignorer tous les fichiers sans extension (considérés comme exécutables)
[^.]*



# Autoriser les fichiers source et README
!*.c
!*.h
!README.md
!0-O
!1-O
!2-O
!3-O

# Ne pas ignorer les dossiers (pour permettre le suivi des fichiers dans les dossiers)
!*/
